<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dugsolutions.nerdypig"
    >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".act.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".act.StatsActivity"
            android:label="@string/title_activity_stats"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".act.RulesActivity"
            android:label="@string/title_activity_rules"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".act.BattleActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>